<div class="container">


<p class="lead">ShellWatch is a way to monitor your servers and applications centrally in charts based on data logging and time series data for visualization in graphs through RRD tool (round-robin database).</p>

<p class="lead">The clients (servers or applications) are just a shellscript, which is responsible for capturing all the necessary information.</p>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Hosts</h3>
</div>
	<div class="panel-body">
      	<ul>
	[% FOREACH obj = hosts %]
		<li><a href="/host/[% obj.host %]">[% obj.host %] ([% obj.metrics %])</a></li>
	[% END %]
	</ul>
</div>
</div>


</div>
